</body>
<footer>
<a href="https://www.facebook.com/TheBespokeOccasionShop/"><i class="fab fitem fa-facebook-f"></i></a>
<a href="https://www.etsy.com/uk/shop/BespokeOccasionShop"><i class="fab fitem fa-etsy"></i></a>
<i class="fab fitem fa-instagram"></i>
<i class="far fitem fa-envelope"></i>
</footer>

</html>
