<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container-fluid">
  <h2>Get in touch...</h2>
  <br>
  <h3>Email us</h3>
  <br>
  <form class="" action="mailto:" method="post" enctype="text/plain">
    <input type="text" name="Name" placeholder="Name" class="form-control">
    <br>
    <input type="email" name="Email" placeholder="Email" class="form-control">
    <br>
    <textarea name="Message" rows="8" cols="80" class="form-control">Message</textarea>
    <br>
    <button type="submit" name="button"class="btn btn-lg btn-outline-dark">Send</button>
  </form>

</div>

<div class="container-fluid">

  <h3>Visit our other pages</h3>
  <div class="row">
  <div class="links col-lg-4">
    <a href="https://www.facebook.com/TheBespokeOccasionShop/"><i class="fab contact fa-facebook-f"></i></a>
    <p> Ac ut consequat semper viverra nam libero justo laoreet. Arcu odio ut sem nulla pharetra diam sit. Morbi enim nunc faucibus a pellentesque sit amet. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Ultrices in iaculis nunc sed augue lacus viverra vitae.</p>
  </div>
  <div class="links col-lg-4">
      <a href="https://www.etsy.com/uk/shop/BespokeOccasionShop"><i class="fab contact fa-etsy"></i></a>
      <p>Vivamus arcu felis bibendum ut. Arcu cursus vitae congue mauris rhoncus aenean vel. Sit amet luctus venenatis lectus magna fringilla. Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. </p>
  </div>
<div class="links col-lg-4">
  <a href="#"><i class="fab contact fa-instagram"></i></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nullam eget felis eget nunc lobortis mattis. Vulputate eu scelerisque felis imperdiet proin fermentum leo. Curabitur gravida arcu ac tortor dignissim.</p>
</div>
</div>
</div>

<%- include("partials/footer") -%>
