<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div class="container-fluid ">
  <div class=" flowers-img-div float-md-left">
    <img src="images/flowers.png" class="flowers-img">
  </div>
<h2>About Us...</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue ut lectus arcu bibendum at varius vel pharetra. Sit amet porttitor eget dolor morbi. Facilisis mauris sit amet
    massa vitae tortor condimentum lacinia. Fermentum dui faucibus in ornare quam viverra. Ut lectus arcu bibendum at varius vel. In aliquam sem fringilla ut morbi tincidunt augue. Commodo sed egestas egestas fringilla. Nunc id cursus metus
    aliquam.
  </p>
  <p>
    Proin nibh nisl condimentum id venenatis a condimentum vitae. Duis at tellus at urna condimentum mattis pellentesque. Quisque sagittis purus sit amet volutpat consequat. Tortor consequat id porta nibh venenatis. Eu feugiat pretium nibh
    ipsum consequat. Hac habitasse platea dictumst quisque sagittis purus sit amet volutpat. Accumsan sit amet nulla facilisi morbi. Mauris augue neque gravida in fermentum et sollicitudin ac. Id semper risus in hendrerit gravida rutrum quisque non
    tellus. Quam adipiscing vitae proin sagittis.
  </p>
  <p>
    Donec pretium vulputate sapien nec sagittis.Nunc lobortis mattis aliquam faucibus. Tempus iaculis urna id volutpat lacus laoreet non. Ridiculus mus mauris vitae ultricies leo integer. Convallis
    tellus id interdum velit laoreet id. Tristique sollicitudin nibh sit amet. Nisi lacus sed viverra tellus in hac habitasse platea. Ornare lectus sit amet est placerat in. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit
    ullamcorper. Sed velit dignissim sodales ut eu sem integer vitae. Eu sem integer vitae justo eget magna fermentum. Aliquam sem et tortor consequat id porta nibh venenatis.</p>
</div>

<div id="carouselExampleControls" class="carousel slide container-fluid" data-interval="6000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1> So pleased with it I have started ordering more for Christmas presents. An excellent idea for those harder to buy for.</h1>
      <i> - Jackie, Etsy </i> <br><i class="fas fa-star"> </i> <i class="fas fa-star">  </i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
    </div>
    <div class="carousel-item">
<h1>5 stars plus another. Needed some help with a wedding anniversary present and Shannon delivered.</h1>
<i> - Tracey, Etsy</i> <br><i class="fas fa-star"> </i> <i class="fas fa-star">  </i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div

<div class="container-fluid brand-img-div">
  <div class="row brand-img-div">
    <div class="col-lg-4">
      <img src="images/perspex.png" class="brand-img">
    </div>
    <div class="col-lg-4">
      <img src="images/stamp.png" class="brand-img">
    </div>
    <div class="col-lg-4">
      <img src="images/slate.png" class="brand-img">
    </div>
  </div>
</div>

<div class="container-fluid">
  <p>Imperdiet nulla malesuada pellentesque elit eget gravida cum. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Placerat orci nulla pellentesque dignissim. Volutpat odio facilisis mauris sit amet massa vitae. Elementum tempus egestas sed sed risus pretium quam vulputate dignissim. Hendrerit dolor magna eget est lorem. Auctor elit sed vulputate mi sit amet mauris commodo quis. Eros donec ac odio tempor orci. Mauris ultrices eros in cursus turpis massa tincidunt dui. Eros in cursus turpis massa. Felis imperdiet proin fermentum leo vel orci. Vitae purus faucibus ornare suspendisse sed nisi. Arcu vitae elementum curabitur vitae nunc sed. Enim sed faucibus turpis in eu mi bibendum neque egestas.

Phasellus vestibulum lorem sed risus. Purus non enim praesent elementum. Est lorem ipsum dolor sit amet consectetur adipiscing. Condimentum mattis pellentesque id nibh tortor id aliquet lectus. Integer eget aliquet nibh praesent tristique magna sit amet purus. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Quam elementum pulvinar etiam non quam lacus suspendisse faucibus. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis. Tempor id eu nisl nunc. Arcu non odio euismod lacinia. Id aliquet lectus proin nibh nisl condimentum. Amet dictum sit amet justo donec enim diam vulputate. Tristique magna sit amet purus gravida quis blandit turpis. Pellentesque habitant morbi tristique senectus et. Tempus egestas sed sed risus pretium quam vulputate. Diam donec adipiscing tristique risus nec feugiat. Congue eu consequat ac felis. Accumsan tortor posuere ac ut consequat.
</p>
</div>
<%- include("partials/footer") -%>
