<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="">
<div class="container-fluid">
  <h2>What's new?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare massa eget egestas purus. Porttitor leo a diam sollicitudin tempor. Pellentesque pulvinar pellentesque habitant morbi tristique. Id porta nibh venenatis cras sed felis eget velit aliquet. Mi quis hendrerit dolor magna. Massa massa ultricies mi quis hendrerit dolor magna. Enim eu turpis egestas pretium aenean pharetra magna ac placerat. Lacus viverra vitae congue eu consequat ac felis donec et. Arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc. Interdum velit euismod in pellentesque massa placerat duis ultricies lacus. Magna eget est lorem ipsum. Accumsan sit amet nulla facilisi morbi tempus iaculis. Arcu cursus euismod quis viverra. Nulla facilisi morbi tempus iaculis. Magna eget est lorem ipsum dolor sit. Arcu odio ut sem nulla pharetra. Nibh cras pulvinar mattis nunc. Elementum curabitur vitae nunc sed velit.</p>
</div>
<div class="container-fluid news">
  <div class="float-md-left">
    <img src="images/fair.png" class="pic left">
  </div>

  <h3>Autumn Fair</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Massa massa ultricies mi quis. Aliquam sem et tortor consequat id porta nibh venenatis. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Non tellus orci ac auctor augue mauris augue neque gravida. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Varius sit amet mattis vulputate enim nulla. Pharetra vel turpis nunc eget lorem dolor sed viverra. Dui ut ornare lectus sit. Bibendum est ultricies integer quis auctor. Tincidunt ornare massa eget egestas purus viverra. Sed egestas egestas fringilla phasellus. Congue nisi vitae suscipit tellus mauris a diam maecenas.</p>
  <p>In aliquam sem fringilla ut morbi tincidunt augue. Nunc pulvinar sapien et ligula. Fermentum posuere urna nec tincidunt praesent semper. Tellus molestie nunc non blandit massa enim nec. Iaculis urna id volutpat lacus laoreet. Pharetra convallis posuere morbi leo urna. Nam at lectus urna duis convallis convallis tellus id interdum. In fermentum posuere urna nec tincidunt. Sit amet aliquam id diam maecenas ultricies mi. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Ornare quam viverra orci sagittis eu. Eu tincidunt tortor aliquam nulla facilisi. Aliquam sem et tortor consequat id porta nibh venenatis. Eget felis eget nunc lobortis mattis.</p>
<p>
  Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Egestas integer eget aliquet nibh praesent tristique magna. Ac tortor vitae purus faucibus. Fames ac turpis egestas sed tempus urna. Amet nisl purus in mollis nunc sed id semper risus. Aliquam nulla facilisi cras fermentum odio eu feugiat. Vitae nunc sed velit dignissim. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Odio euismod lacinia at quis risus sed vulputate odio. Sit amet dictum sit amet justo donec. Nisi est sit amet facilisis. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Tortor at auctor urna nunc id. Pellentesque dignissim enim sit amet venenatis urna. Ornare lectus sit amet est placerat in egestas.
  </p>
</div>
<div class="container-fluid news">
  <div class="float-md-right">
    <img src="images/glass.png" class="pic right">
  </div>
  <h3>Etched Glasses</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Massa massa ultricies mi quis. Aliquam sem et tortor consequat id porta nibh venenatis. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Non tellus orci ac auctor augue mauris augue neque gravida. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Varius sit amet mattis vulputate enim nulla. Pharetra vel turpis nunc eget lorem dolor sed viverra. Dui ut ornare lectus sit. Bibendum est ultricies integer quis auctor. Tincidunt ornare massa eget egestas purus viverra. Sed egestas egestas fringilla phasellus. Congue nisi vitae suscipit tellus mauris a diam maecenas.</p>
  <p>In aliquam sem fringilla ut morbi tincidunt augue. Nunc pulvinar sapien et ligula. Fermentum posuere urna nec tincidunt praesent semper. Tellus molestie nunc non blandit massa enim nec. Iaculis urna id volutpat lacus laoreet. Pharetra convallis posuere morbi leo urna. Nam at lectus urna duis convallis convallis tellus id interdum. In fermentum posuere urna nec tincidunt. Sit amet aliquam id diam maecenas ultricies mi. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Ornare quam viverra orci sagittis eu. Eu tincidunt tortor aliquam nulla facilisi. Aliquam sem et tortor consequat id porta nibh venenatis. Eget felis eget nunc lobortis mattis.</p>
<p>
  Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Egestas integer eget aliquet nibh praesent tristique magna. Ac tortor vitae purus faucibus. Fames ac turpis egestas sed tempus urna. Amet nisl purus in mollis nunc sed id semper risus. Aliquam nulla facilisi cras fermentum odio eu feugiat. Vitae nunc sed velit dignissim. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Odio euismod lacinia at quis risus sed vulputate odio. Sit amet dictum sit amet justo donec. Nisi est sit amet facilisis. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Tortor at auctor urna nunc id. Pellentesque dignissim enim sit amet venenatis urna. Ornare lectus sit amet est placerat in egestas.
  </p>

</div>
<div class="container-fluid news">
  <div class="float-md-left">
    <img src="images/ticket.png" class="pic right">
  </div>
  <h3>Bespoke Wooden Tickets</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Massa massa ultricies mi quis. Aliquam sem et tortor consequat id porta nibh venenatis. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Non tellus orci ac auctor augue mauris augue neque gravida. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Varius sit amet mattis vulputate enim nulla. Pharetra vel turpis nunc eget lorem dolor sed viverra. Dui ut ornare lectus sit. Bibendum est ultricies integer quis auctor. Tincidunt ornare massa eget egestas purus viverra. Sed egestas egestas fringilla phasellus. Congue nisi vitae suscipit tellus mauris a diam maecenas.</p>
  <p>In aliquam sem fringilla ut morbi tincidunt augue. Nunc pulvinar sapien et ligula. Fermentum posuere urna nec tincidunt praesent semper. Tellus molestie nunc non blandit massa enim nec. Iaculis urna id volutpat lacus laoreet. Pharetra convallis posuere morbi leo urna. Nam at lectus urna duis convallis convallis tellus id interdum. In fermentum posuere urna nec tincidunt. Sit amet aliquam id diam maecenas ultricies mi. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Ornare quam viverra orci sagittis eu. Eu tincidunt tortor aliquam nulla facilisi. Aliquam sem et tortor consequat id porta nibh venenatis. Eget felis eget nunc lobortis mattis.</p>

</div>
</div>


<%- include("partials/footer") -%>
