<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container-fluid row">
  <div class="col-lg-6 products-div">
    <a href="/product/hair"><img src="images/broach.png" class="product-img" alt=""></a>
    <h1 class="product-txt">Hair Accessories</h1>
  </div>
  <div class="col-lg-6 products-div ">
    <a href="/product/wood"><img src="images/traintrack.png" class="product-img" alt=""></a>

        <h1 class="product-txt">Wooden Gifts</h1>
  </div>
  <div class="col-lg-6 products-div ">
    <a href="/product/flowers"><img src="images/wiredFlowers.png" class="product-img" alt=""></a>

        <h1 class="product-txt">Paper Flowers</h1>
  </div>
  <div class="col-lg-6 products-div ">
    <a href="/product/other"><img src="images/box.png" class="product-img" alt=""></a>

        <h1 class="product-txt">Other Bespoke Gifts</h1>
  </div>
</div>

<%- include("partials/footer") -%>
